/** @format */
#search-form {
  padding-bottom: 2px;
  padding-left: 26px;
}

#search-input {
  border-radius: 2%;
  border-width: 0.5px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

#current-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-width: 1px;
  padding: 2px 6px;
  border-radius: 7%;
}
#search-button {
  border-width: 1px;
  padding: 2px 6px;
  border-radius: 7%;
  font-size: 15px;
}
div.container-1 {
  max-height: 120px;
}

#icon {
  margin: 0 20px 20px 0;
  zoom: 120%;
}
.container {
  border: 1px solid #606470;
  padding: 15px;
  margin: 80px 100px;
  border-radius: 16px;
  max-width: 750px;
}
div.container-2 {
  max-width: 700px;
  max-height: 180px;
  padding: 25px 20px;
  margin: 0;
}

div.container-2 .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

div.weather-forecast {
  max-width: 700px;
  max-height: 180px;
  padding: 20px;
  margin: 0;
  text-align: center;

  border: transparent;
}
div.weather-forecast-date {
  font-family: "Fredericka the Great", cursive;
  font-size: 15px;
  opacity: 0.8;
}
#icon-forecast {
  zoom: 100%;
}
div.weather-forecast-temperatures {
  font-family: "Fredericka the Great", cursive;
  font-size: 15px;
  opacity: 0.8;
}

.enter {
  margin: 8px;
  padding: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#four-info {
  padding: 20px;
  text-align: left;
}

.li-city {
  font-family: "Fredericka the Great", cursive;
  font-size: 65px;
  opacity: 0.6;
  padding: 0 0 0 30px;
  text-align: left;
  margin-bottom: 0;
  max-height: 90px;
}
.li-date,
.li-time {
  font-family: "Fredericka the Great", cursive;
  font-size: 18px;
  text-align: left;
  opacity: 0.8;
  padding: 0 30px;
}

.ul-main1,
.ul-main2,
.ul-main3 {
  font-family: "Fredericka the Great", cursive;
}
.ul-main1 {
  max-height: 140px;
}

.span-temp2 {
  font-family: "Fredericka the Great", cursive;
  opacity: 0.5;
  font-size: 20px;
  position: relative;
  top: -30px;
}
.span-temp1 {
  font-size: 75px;
  font-family: "Fredericka the Great", cursive;
  opacity: 0.5;
}

.li-temp {
  text-align: center;
  height: 95px;
}
.li-mini-max,
.li-descript {
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
}

.ul-main3 {
  font-size: 16px;
  margin: 0 auto;
  padding: 20px 80px;
}

.monet {
  font-size: 7px;
  font-family: Arial, Helvetica, sans-serif;
  border-width: 1px;
  display: block;
  margin: 0 auto 15px;
}
.github-link {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-bottom: 15px;
}
